@import './base/google-fonts';
@import './base/normalize';
@import './utils/variables';
@import './components/common/general-wrapper';
@import './components/common-header/container-nav';
@import './components/common-header/nav-list';
@import './components/common-header/contacts-list';
@import './components/Home-page/hero';
@import './components/Home-page/function-section';
@import './components/Home-page/classes-section';
@import './components/Home-page/team-section';
@import './components/Home-page/clients-section';
@import './components/common-footer/footer-logo_block';
@import './components/common-footer/icons-block';
@import './components/common-footer/footer-form';
@import './components/modal/backdrop';
@import './components/modal/modal';
@import './components/portfolio/section-btns';
@import './components/portfolio/card-list';
