.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background: $backdrop;

  overflow-y: scroll;

  &.is-hidden {
    opacity: 0;
    pointer-events: none;
  }

  @media screen and (max-width: 767px) {
    padding: 93px 15px;
  }
}
