.icons-block {
  display: block;
  margin-left: 70px;
  margin-top: 12px;
  margin-right: auto;
}

.icons-block__title {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 14px;
  color: $icons-title;
  line-height: 16px;
  letter-spacing: 0.03em;
}

.icons-block__list {
  display: flex;
  justify-content: center;
}

.icons-block__item {
  width: 44px;
  height: 44px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.icons-block__link {
  border-radius: 50%;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms $timing-function;

  background-color: $icon-circle;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: $main-blue;
  }
}

.icon {
  width: 20px;
  height: 20px;
  fill: $icon-color;
  transition: fill 250ms $timing-function;

  .icons-block__link:hover &,
  .icons-block__link:focus & {
    fill: $icon-color-active;
  }
}
