.icon {
  width: 20px;
  height: 20px;
  fill: $icon-color;
  transition: fill 250ms $timing-function;

  .icons-block__link:hover &,
  .icons-block__link:focus & {
    fill: $icon-color-active;
  }
}
