.contacts-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;

  @media screen and (max-width: 767px) {
    flex-direction: column-reverse;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    margin-left: 84px;
    flex-direction: column;
    justify-content: center;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 0;
    margin-bottom: 0;
    align-items: center;
    margin-left: auto;
  }
}

.contacts-list__item {
  &:not(:first-child) {
    @media screen and (max-width: 767px) {
      margin-top: 180px;
      margin-bottom: 32px;
    }
  }

  &:not(:last-child) {
    @media screen and (max-width: 1199px) {
      margin-bottom: 10px;
    }
  }

  @media screen and (min-width: 1200px) {
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.contacts-list__link-email,
.contacts-list__link-tel {
  transition: color 250ms $timing-function;

  &:hover,
  &:focus {
    color: $main-blue;
  }
}

.contacts-list__link-email {
  @media screen and (max-width: 767px) {
    color: $grey-color;
    font-size: 24px;
    font-weight: 500;
    line-height: 28px;
  }

  @media screen and (min-width: 768px) {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.16;
    color: $grey-color;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.contacts-list__link-tel {
  @media screen and (max-width: 767px) {
    font-size: 34px;
    font-weight: 500;
    line-height: 1.17px;
    color: $main-blue;
  }

  @media screen and (min-width: 768px) {
    font-size: 12px;
    font-weight: 500;
    line-height: 1.16;
    color: $grey-color;
  }

  @media screen and (min-width: 1200px) {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.contacts-list__icon {
  @media screen and (max-width: 767px) {
    display: none;
  }

  @media screen and (min-width: 768px) {
    margin-right: 8px;
    width: 14px;
    height: 10px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
    width: 16px;
    height: 12px;
  }

  &.tel {
    @media screen and (max-width: 1199px) {
      width: 10px;
      height: 14px;
    }

    @media screen and (min-width: 1200px) {
      margin-right: 10px;
      width: 10px;
      height: 16px;
    }
  }

  fill: $nav-contacts-color;
  transition: fill 250ms $timing-function;

  .contacts-list__link-tel:hover &,
  .contacts-list__link-tel:focus & {
    fill: $main-blue;
  }

  .contacts-list__link-email:hover &,
  .contacts-list__link-email:focus & {
    fill: $main-blue;
  }
}
