.container-nav {
  display: flex;
  align-items: center;
}

.nav__logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;

  line-height: 1.19;
  text-align: left;
  color: $main-blue;

  padding-top: 25px;
  padding-bottom: 25px;
}

.nav__span {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $studio-color;
}
