.page-header {
  position: relative;
}

.page-header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 60px;
}

.nav__logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  display: block;
  line-height: 1.19;
  text-align: left;
  color: $main-blue;
  padding-top: 16px;
  padding-bottom: 16px;
}

.nav__span {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $studio-color;
}

.menu__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;

  // &:hover,
  // &:focus {
  //   fill: $main-blue;
  // }
}

.menu__button .icon-menu {
  display: none;
}

.menu__button.is-open .icon-menu {
  display: block;
}

.menu__button.is-open .icon-cross {
  display: none;
}

.mobile-menu {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: white;
  padding-left: 40px;
  padding-bottom: 48px;
  max-height: 796px;

  &.is-open {
    display: block;
  }
}
