.page-header {
  position: relative;
}

.page-header .nav {
  display: flex;
  align-items: center;
  min-width: 60px;

  @media screen and (max-width: 1199px) {
    justify-content: space-between;
  }
}

.nav__logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  display: block;
  line-height: 1.19;
  text-align: left;
  color: $main-blue;
  padding-top: 16px;
  padding-bottom: 16px;

  @media screen and (min-width: 768px) {
    padding-top: 26px;
    padding-bottom: 26px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.nav__span {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $studio-color;
}

.menu__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
  border: none;

  &:hover,
  &:focus {
    fill: $main-blue;
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.menu__button .icon-cross {
  display: none;
}

.menu__button.is-open .icon-cross {
  display: block;
}

.menu__button.is-open .icon-menu {
  display: none;
}

.mobile-menu {
  display: flex;
  @media screen and (max-width: 767px) {
    &.is-open {
      display: block;
    }
  }
  @media screen and (max-width: 767px) {
    position: absolute;
    display: none;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    padding-left: 40px;
    padding-bottom: 48px;
    max-height: 796px;
  }

  @media screen and (min-width: 1200px) {
    width: 100%;
  }
}
