.page-header .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 60px;
}

.nav__logo {
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;

  line-height: 1.19;
  text-align: left;
  color: $main-blue;
}

.nav__span {
  font-size: 26px;
  font-weight: 700;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $studio-color;
}

.menu__button {
  display: inline-flex;
  margin: 0;
  padding: 0;
}
