.classes-section__heading {
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin-bottom: 50px;
}

.classes-list {
  display: flex;
  margin-top: 50px;
}

.classes-list__item:not(:last-child) {
  margin-right: 30px;
}

.classes-list__block {
  position: relative;
}

.classes-list__img {
  width: 370px;
}

.classes-list__text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding: 27px 82px;
  text-align: center;

  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  text-transform: uppercase;
  color: $classes-text;
  background-color: rgba(47, 48, 58, 0.8);
}
